
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    // USERS COLLECTION
    match /users/{userId} {
      allow read, write: if isOwner(userId);

        // BLOG POSTS SUBCOLLECTION
        // /users/{userId}/blogPosts/{blogPostId}
        match /blogPosts/{blogPostId} {
          allow list, get, delete: if isOwner(userId);
          allow create: if isOwner(userId) && request.resource.data.userId == userId;
          allow update: if isOwner(userId) && request.resource.data.userId == resource.data.userId;
        }

        // BLOG SETTINGS SUBCOLLECTION
        // /users/{userId}/blogSettings/default
        match /blogSettings/default {
            allow read, write: if isOwner(userId);
        }

        // TWEET SETTINGS SUBCOLLECTION
        // /users/{userId}/tweetSettings/default
        match /tweetSettings/default {
            allow read, write: if isOwner(userId);
        }

        // FACEBOOK SETTINGS SUBCOLLECTION
        // /users/{userId}/facebookSettings/default
        match /facebookSettings/default {
            allow read, write: if isOwner(userId);
        }

        // BOOKS SUBCOLLECTION
        // /users/{userId}/books/{bookId}
        match /books/{bookId} {
            allow list, get, delete: if isOwner(userId);
            allow create: if isOwner(userId) && request.resource.data.userId == userId;
            allow update: if isOwner(userId) && request.resource.data.userId == resource.data.userId;
        }
    }
  }
}
